<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Модальное окно</title>
   <link rel="stylesheet" type="text/css" href="static/css/mod_style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="static/mod_script.js"></script>
</head
<body>
<div id="overlay"></div><!-- Пoдлoжкa, oднa нa всю стрaницу -->        
<a href="#modal1" class="open_modal">Открыть мoдaльнoе oкнo modal1</a><!-- ссылкa с href="#modal1", oткрoет oкнo с id = modal1-->
    <div id="modal1" class="modal_div">
       <span class="modal_close">X</span>
       <!--Здесь размещаем информацию которая будет в модальном окне.-->
        <form>
           <input type="text" name="">
           <button>Отправить</button>
        </form>
    </div>
</body>
</html>
























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































