<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="static/bootstrap-4.3.1-dist/css/bootstrap.min.css"/>                                   
   <script type="text/javascript" src="static/jquery/jquery-3.4.1.min.js"></script>                                   
   <script type="text/javascript" src="static/popper/popper.min.js"></script>                                         
   <script type="text/javascript" src="static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>                     
  <link rel="stylesheet" type="text/css" href="static/css/style.css"/>                                                
    <!-- Full local -->                                                                                                
    <link rel="stylesheet" type="text/css" href="static/DataTables/datatables.min.css"/>                               
  <script type="text/javascript" src="static/DataTables/datatables.min.js"></script>  

</head>
<body>
        <div class="container">
          <div class="row">
            <div class="col">
              <!--Sidebar content-->
              <h1> A </h1>
              <p>kldjlksjdlskjd
             ssdlkflkdjflkdjflsj
             sld;sldkf;slkdf;slkdf
             kdlskdjlksjlskjlkjfl
             kjsdflkjfdlksjflksjfdf
             dlkfsl;lskdf;slkdf;sldkf
              </p>
            </div>
            <div class="col">
              <h1> B </h1>
            <p> wuiyiwquiwuy woiruwoiuroiwu wiurowiuer woeiru
            woieurowiurow woieruwoieru owieruwoiu woeiruwoiu weoiuwo weiruow
            wijwoiu wieruowiuir  dkjfhkdjh sjhwo8834 sjfldj sdjhslkjhf4 lkdjfljf</p>
            </div>
          </div>
        </div>        
</body>
</html>























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































