<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Nsis</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css"> 
 
        <!--https://datatables.net
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
        <script src="http://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
        -->
<!-- Remember to include jQuery :) -->

   <link rel="stylesheet" type="text/css" href="static/css/mod_style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="static/mod_script.js"></script>


<!-- jQuery Modal -->
<!--
script<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
-->
        <!-- Full local -->
        <link rel="stylesheet" type="text/css" href="static/DataTables/datatables.min.css"/>
        <script type="text/javascript" src="static/DataTables/datatables.min.js"></script>

    </head>
    <body>
        <div id="overlay"></div><!-- Пoдлoжкa, oднa нa всю стрaницу -->                   
        <h2>Мониторинг версий ПО МАС ОПС УФПС Липецкой обл.</h2>
        <!-- <p><a href="/create">Добавить</a></p> -->
        <!--        <p><a href="/demo">Демо</a></p> -->
        <p><a href="#modal1" class="open_modal">Добавить</a></p>
        <table id="myTable" class="cell-border compact stripe responsive buttons">
            <thead><th>Id</th><th>Время обновления</th><th>IP/имя ПК</th><th>Статус проверки</th><th></th><th></th><th></th></thead>
            {{range . }}
            <tr data-tr-id={{.ID}}>
                <td class="uid"> {{.ID}}</td>
                <td>{{.UpdatedAt}}</td>
                <td class="uname"> {{.Name}}</td>
                <td class="ustatus"> {{.Status}}</td>
                <td><a href="#modal2" class="edit_modal">M.Добавить</a></td>
                <td><a href="/edit/{{.ID}}">Редакт.</a>
                <td><a href="/delet/{{.ID}}">Удалить</a>
                </td>
            </tr>
            {{end}}
        </table>

        <div id="modal1" class="modal_div">
            <span class="modal_close">X</span>
                <form id="insert-form" class="modal" method="POST">
                  <fieldset>
                    <legend>Добавление имени ПК в список контроля работы сервисов МАСОПС</legend>
                         <p><label for="name">Имя ПК <em>*</em></label><input type="text" name="name"> </p>
                         <p><label for="status">Примечание</label><input type="text" name="status"> </p>
                  </fieldset>
                <p><input type="submit" value="Отправить"></p>
                </form>
        </div>

        <div id="modal2" class="modal_div">
            <span class="modal_close">X</span>
                <form action=#  onsubmit="return false;" id="edit-form" class="edit_modal" method="POST">
                  <fieldset  style="display: flex; flex-direction: column;">
                    <legend>Редактирование данных </legend>
	                 <input type="hidden" name="id" id="eid" value=0 />
                     <p><label for="name">Имя ПК <em>*</em></label><input type="text" name="name"   id="ename"   value="" disabled > </p>
                     <p><label for="status">Примечание     </label><input type="text" name="status" id="estatus" value="" autofocus > </p>
                  </fieldset>
                <p><input type="submit" value="Отправить"></p>
                </form>
        </div>

    </body>

<script>
$(document).ready(function() {

  var table = $('#myTable').DataTable({
        "language": {
            "url": "static/DataTables/Russian.json"
        },
          "lengthMenu":[[25, 50, -1], [25, 50, "All"]],
  // "dom": 'Blfrtip', // только пагинация
  // "dom": '<"top"i>rt<"bottom"flp><"clear">',
    dom: 'B<"clear">lfrtip', // all buttons
  // "dom": '<lf<t>ip>',
   keys: {
        columns: ':not(:last-child)'
    },
    buttons: true,

// Пример замены в тблице поля на ссылку          
//"columnDefs": [ { //Вместо 0 столбца ID отображать ссылку Download
//    "targets": 0,
//    "data": "download_link",
//    "render": function ( data, type, row, meta ) {
//      return '<a href="'+data+'">Download</a>';
//    }
//  } ],

// Переопределими buttons
    buttons: [
        {
                extend: 'csv',
                //Name the CSV
//                filename: 'file_name',
                text: 'Отчет CSV',
                exportOptions: {
                        columns: [0, 1 ,2, 3]
                },
                //Function which customize the CSV (input : csv is the object that you can preprocesss)
                customize: function (csv) {
                        //Split the csv to get the rows
                        var split_csv = csv.split("\n");
 
                        //Remove the row one to personnalize the headers
                        split_csv[0] = '"ID";"Time";"IP";"Status"';
 
                        //For each row except the first one (header)
                        $.each(split_csv.slice(1), function (index, csv_row) {
                                //Split on quotes and comma to get each cell
                                var csv_cell_array = csv_row.split('","');
                                 //Remove replace the two quotes which are left at the beginning and the end (first and last cell)
                                csv_cell_array[0] = csv_cell_array[0].replace(/"/g, '');
                                csv_cell_array[3] = csv_cell_array[3].replace(/"/g, '');
                                //RANDOM EXAMPLE :insert 123 to 3th cell
                                //csv_cell_array[3] = "123";
                                //Join the table on the quotes and comma; add back the quotes at the beginning and end
                                csv_cell_array_quotes = '"' + csv_cell_array.join('";"') + '"';
                                //Insert the new row into the rows array at the previous index (index +1 because the header was sliced)
                                split_csv[index + 1] = csv_cell_array_quotes;
                        });

                        //Join the rows with line breck and return the final csv (datatables will take the returned csv and process it)
                        csv = split_csv.join("\n");
                        return csv;
                }
        },

        {
                extend: 'excel',
                //Name the EXCEL
                messageTop: 'Мониторинг версий ПО МАС ОПС УФПС Липецкой обл.',
                filename: 'file_name',
                text: 'Отчет EXCEL',
                exportOptions: {
                        columns: [0, 1 ,2, 3]
                }
        },
        {
                extend: 'pdf',
                filename: 'file_name',
                text: 'Отчет PDF',
                messageTop: 'Мониторинг версий ПО МАС ОПС УФПС Липецкой обл.',
                exportOptions: {
                        columns: [0, 1, 2, 3]
                }
        }

]
  }); //DataTable
});//document

</script>
</html>
