<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">     
    
       <title>Nsis</title>

      <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

 
      <link rel="stylesheet" type="text/css" href="static/css/style.css"> 
 
<!-- Remember to include jQuery :) -->


   <link rel="stylesheet" type="text/css" href="static/css/mod_style.css">


<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->


<!--   <script src="static/mod_script.js"></script> -->


        <!-- Full local -->
        <link rel="stylesheet" type="text/css" href="static/DataTables/datatables.min.css"/>
        <script type="text/javascript" src="static/DataTables/datatables.min.js"></script>


    </head>
    <body>
        <div id="overlay"></div><!-- Пoдлoжкa, oднa нa всю стрaницу -->                   
        <h2>Мониторинг версий ПО МАС ОПС УФПС Липецкой обл.</h2>
        <!-- <p><a href="/create">Добавить</a></p> -->
        <!--        <p><a href="/demo">Демо</a></p> -->

<!--
        <p><a href="#modal1" class="open_modal">Добавить</a></p>
-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertModal" 
                data-whatever="@Какието данные">ДОБАВИТЬ НОВУЮ ЗАПИСЬ В ЖУРНАЛ</button>

        <table id="myTable" class="cell-border compact stripe responsive buttons">
            <thead><th>Id</th><th>Время обновления</th><th>IP/имя ПК</th><th>Статус проверки</th><th></th><th></th><th></th></thead>
            {{range . }}
            <tr data-tr-id={{.ID}}>
                <td class="uid"> {{.ID}}</td>
                <td>{{.UpdatedAt}}</td>
                <td class="uname"> {{.Name}}</td>
                <td class="ustatus"> {{.Status}}</td>
                <td><a href="#" class="edit_modal" data-toggle="modal" data-target="#editModal">Редактирование</a></td>
                <td><a href="/edit/{{.ID}}">Редакт.</a></td>
                <td><a href="/delet/{{.ID}}">Удалить</a></td>
            </tr>
            {{end}}
        </table>
<!--

        <div id="modal1" class="modal_div">
            <span class="modal_close">X</span>
                <form id="insert-form" class="modal" method="POST">
                  <fieldset>
                    <legend>Добавление имени ПК в список контроля работы сервисов МАСОПС</legend>
                         <p><label for="name">Имя ПК <em>*</em></label><input type="text" name="name"> </p>
                         <p><label for="status">Примечание</label><input type="text" name="status"> </p>
                  </fieldset>
                <p><input type="submit" value="Отправить"></p>
                </form>
        </div>
-->

<!--        <div id="modal2" class="modal_div">
            <span class="modal_close">X</span>
                <form action='' id="edit-form" class="edit_modal" method="POST">
                  <fieldset  style="display: flex; flex-direction: column;">
                    <legend>Редактирование данных </legend>
	                 <input type="hidden" name="id" id="eid" value=0 />
                     <p><label for="name">Имя ПК <em>*</em></label><input type="text" autocomplete="on" name="name"   id="ename"   value="R48-" class="notchange" required disabled > </p>
                     <p><label for="status">Примечание     </label><input type="text" autocomplete="on" name="status" id="estatus" value="New " class="notchange" required autofocus > </p>
                  </fieldset>
                <p><input type="submit" value="Отправить"></p>
                </form>
        </div>
-->
<!-- CREATE NEW -->
<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="insertModalLabel">Добавление имени ПК для мониторинга</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="ajaxCreateForm" method="POST" action='mcreate' >
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Имя ПК для мониторинга:</label>
            <input type="text" class="form-control" id="recipient-name" name="name" value = "R48-" >
            <label for="recipient-status" class="col-form-label">Статус работы:</label>
            <input type="text" class="form-control" id="recipient-status" name="status" value = "New" >
          </div>
<!--          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Выйти</button>
        <button type="button" class="btn btn-primary" id="SaveInsertModal" >Записать</button>
      </div>
    </div>
  </div>
</div>


<!-- EDIT RECORDS -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Редактирование данных</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="ajaxEditForm" method="POST" action='medit' >
          <div class="form-group">
            <label for="edit-id" class="col-form-label">ID</label>
            <input type="text" class="form-control" id="edit-id" name="id" value=0 disabled >
            <label for="edit-name" class="col-form-label">Имя ПК:</label>
            <input type="text" class="form-control" id="edit-name" name="name" value = "R48-" disabled >
            <label for="edit-status" class="col-form-label">Статус работы:</label>
            <input type="text" class="form-control" id="edit-status" name="status" value = "New" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Выйти</button>
        <button type="button" class="btn btn-primary" id="SaveEditModal" >Записать</button>
      </div>
    </div>
  </div>
</div>

    </body>

<script>
$(document).ready(function() {

  var table = $('#myTable').DataTable({
        "language": {
            "url": "static/DataTables/Russian.json"
        },
          "lengthMenu":[[25, 50, -1], [25, 50, "All"]],
  // "dom": 'Blfrtip', // только пагинация
  // "dom": '<"top"i>rt<"bottom"flp><"clear">',
    dom: 'B<"clear">lfrtip', // all buttons
  // "dom": '<lf<t>ip>',
   keys: {
        columns: ':not(:last-child)'
    },
    buttons: true,

// Пример замены в тблице поля на ссылку          
//"columnDefs": [ { //Вместо 0 столбца ID отображать ссылку Download
//    "targets": 0,
//    "data": "download_link",
//    "render": function ( data, type, row, meta ) {
//      return '<a href="'+data+'">Download</a>';
//    }
//  } ],

// Переопределими buttons
    buttons: [
        {
                extend: 'csv',
                //Name the CSV
//                filename: 'file_name',
                text: 'Отчет CSV',
                exportOptions: {
                        columns: [0, 1 ,2, 3]
                },
                //Function which customize the CSV (input : csv is the object that you can preprocesss)
                customize: function (csv) {
                        //Split the csv to get the rows
                        var split_csv = csv.split("\n");
 
                        //Remove the row one to personnalize the headers
                        split_csv[0] = '"ID";"Time";"IP";"Status"';
 
                        //For each row except the first one (header)
                        $.each(split_csv.slice(1), function (index, csv_row) {
                                //Split on quotes and comma to get each cell
                                var csv_cell_array = csv_row.split('","');
                                 //Remove replace the two quotes which are left at the beginning and the end (first and last cell)
                                csv_cell_array[0] = csv_cell_array[0].replace(/"/g, '');
                                csv_cell_array[3] = csv_cell_array[3].replace(/"/g, '');
                                //RANDOM EXAMPLE :insert 123 to 3th cell
                                //csv_cell_array[3] = "123";
                                //Join the table on the quotes and comma; add back the quotes at the beginning and end
                                csv_cell_array_quotes = '"' + csv_cell_array.join('";"') + '"';
                                //Insert the new row into the rows array at the previous index (index +1 because the header was sliced)
                                split_csv[index + 1] = csv_cell_array_quotes;
                        });

                        //Join the rows with line breck and return the final csv (datatables will take the returned csv and process it)
                        csv = split_csv.join("\n");
                        return csv;
                }
        },

        {
                extend: 'excel',
                //Name the EXCEL
                messageTop: 'Мониторинг версий ПО МАС ОПС УФПС Липецкой обл.',
                filename: 'file_name',
                text: 'Отчет EXCEL',
                exportOptions: {
                        columns: [0, 1 ,2, 3]
                }
        },
        {
                extend: 'pdf',
                filename: 'file_name',
                text: 'Отчет PDF',
                messageTop: 'Мониторинг версий ПО МАС ОПС УФПС Липецкой обл.',
                exportOptions: {
                        columns: [0, 1, 2, 3]
                }
        }

]
  }); //DataTable


// Открыть модальную форму добавления записи
$('#insertModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to')
  modal.find('.modal-body input id="recipient-name"').val(recipient)
});

//Передать на добавление в БД новой записи
$("#SaveInsertModal").click(function(event) {
    event.preventDefault();
    var form = $('#ajaxCreateForm');
    var method = form.attr('method');
    var url = form.attr('action'); //mcreate
    var formdata = $(form).serialize();
    console.log(formdata);
//    ajaxCallRequest(method, url, formdata);
    if (method =='POST') {
    $.post('mcreate',formdata, processData);
        function processData(data){
                if (data == 'pass') {                            
                 alert('Запись успешно добавлена !!!');                                        
                } else {                        
                 alert('Ошибка записи !!! '+ data);                                        
                }                                                
        }// processData  
     } //if method
  });


// Открыть модальную форму добавления записи
$('.edit_modal').click(function(event) {
 	event.preventDefault();// вырубaем стaндaртнoе пoведение
 	var $editRow =null;
 	$editRow = $(event.target ).closest( "tr" );
 	$uid = $editRow.data('tr-id');
 	$uname = $editRow.children('td.uname').text().trim();
 	$ustatus = $editRow.children('td.ustatus').text().trim();
    console.log('Edit '+$uid+' '+$uname+' '+$ustatus);
    var $editForm = $('#ajaxEditForm');
        $editForm.find('#edit-id').val($uid);
        $editForm.find('#edit-name').val($uname);
        $editForm.find('#edit-status').val($ustatus);
}); //.edit_modal

//Передать данные серверу для записи в БД
$("#SaveEditModal").click(function(event) {
    event.preventDefault();
    var form = $('#ajaxEditForm');
    var method = form.attr('method');
    var url = form.attr('action'); //medit
    var formdata = $(form).serialize();
    console.log(formdata);
//    ajaxCallRequest(method, url, formdata);
    if (method =='POST') {
    $.post('medit',formdata, processData);
        function processData(data){
                if (data == 'pass') {                            
                 alert('Запись успешно обновлена !!!');                                        
                } else {                        
                 alert('Ошибка записи !!! '+ data);                                        
                }                                                
        }// processData  
     } //if method
  });



});//document

</script>
</html>
