<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Nsis</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css"> 
    </head>
    <body>
        <h2>Список пунктов установки МАС ОПС УФПС Липецкой обл.</h2>
        <p><a href="/create">Добавить</a></p>
<!--        <table class="table_blur"> -->
	    <table>
            <thead><th>Id</th><th>Update_at</th><th>Name</th><th>Status</th><th></th></thead>
            {{range . }}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.UpdatedAt}}</td>
                <td>{{.Name}}</td>
                <td>{{.Status}}</td>
                <td><a href="/edit/{{.ID}}">Изменить</a>
                </td>
            </tr>
            {{end}}
        </table>
    </body>
</html>